@model AllClassViewModel

@{
    ViewData["Title"] = "Classes";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        
        .container {
            padding: 2rem 0rem;
        }

        h4 {
            margin: 2rem 0rem 1rem;
        }

        .table-image {
            td, th

        {
            vertical-align: middle;
        }

        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }

    </style>
</head>
<body style="background-color:grey;">



    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://thumbor.thedailymeal.com/opKcYX7uRLdIajlOMGuVG8qqGCU=/870x565/https://www.theactivetimes.com/sites/default/files/2019/02/08/00_istockphoto.com_.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Fitness Classes</h3>
                    <p style="color:white">Check it  <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ViewAllFitnessClass", "Class")'">NOW</button></p>
                </div>
            </div>

            <div class="item">
                <img src="https://media.istockphoto.com/photos/millennials-practicing-yoga-in-a-modern-studio-picture-id1093945358?k=20&m=1093945358&s=612x612&w=0&h=4ER16yFKqURu3-yDxH1eibUMqbGafyqrqSrXxs24QqU=" alt="Image">
                <div class="carousel-caption">
                    <h3>Yoga Classes</h3>
                    <p style="color:white">Check it  <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ViewAllYogaClass", "Class")'">NOW</button></p>
                </div>
            </div>

            <div class="item">
                <img src="https://nextgenerationmma.co.uk/wp-content/uploads/2018/09/Next-Gen-5-2-1170x660.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Wrestling Classes</h3>
                    <p style="color:white">Check it  <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ViewAllWrestlingClass", "Class")'">NOW</button></p>
                </div>
            </div>


            <div class="item">
                <img src=" https://mmamicks.com/wp-content/uploads/2016/01/conor-mcgregor-movement-training.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Mma Classes</h3>
                    <p style="color:white">Check it  <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ViewAllMmaClass", "Class")'">NOW</button></p>
                </div>
            </div>

            <div class="item">
                <img src="https://titleboxingclub.com/wp-content/uploads/2018/10/boxing-class.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Box Classes</h3>
                    <p style="color:white">Check it  <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ViewAllBoxClass", "Class")'">NOW</button></p>
                </div>
            </div>

            <div class="item">
                <img src="https://www.newsletter.co.uk/webimg/TUFZMTI1MDg3ODAz.jpg?width=2048&enable=upscale" alt="Image">
                <div class="carousel-caption">
                    <h3>Athletic Classes</h3>
                    <p style="color:white">Check it  <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ViewAllAthleticClass", "Class")'">NOW</button></p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container text-center">
        <h3>See our classes</h3><br>

    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Class Type</th>
                            <th scope="col">Count of classes</th>
                            <th scope="col">View All</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-25">
                                <img src="https://gxunited.com/wp-content/uploads/2020/01/42.-Class-Intros-copy.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                            <td>Fitness</td>
                            <td>@Model.CountOfFitnessClass</td>
                            <td><a asp-controller="Class" asp-action="ViewAllFitnessClass" class="btn btn-success">View All</a></td>
                        </tr>

                        <tr>
                            <td class="w-25">
                                <img src="https://media.istockphoto.com/photos/asian-yoga-students-observing-and-practicing-during-class-picture-id1324181858?b=1&k=20&m=1324181858&s=170667a&w=0&h=HDyD7lT-s8rNKE9eUuGHkJYWrVHxraLylgFSqkWBeF0=" class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                            <td>Yoga</td>
                            <td>@Model.CountOfYogaClass</td>
                            <td><a asp-controller="Class" asp-action="ViewAllYogaClass" class="btn btn-success">View All</a></td>
                        </tr>

                        <tr>
                            <td class="w-25">
                                <img src="https://www.extrememma.com.au/wp-content/uploads/2018/10/40402591_1797621563608171_7373067337957638144_o.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                            <td>Mma</td>
                            <td>@Model.CountOfMmaClass</td>
                            <td><a asp-controller="Class" asp-action="ViewAllMmaClass" class="btn btn-success">View All</a></td>
                        </tr>

                        <tr>
                            <td class="w-25">
                                <img src="https://media.self.com/photos/587fb60739d082f57cdffb8a/1:1/w_832,h_832,c_limit/first-boxing-class-boxer-situps.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                            <td>Box</td>
                            <td>@Model.CountOfBoxClass</td>
                            <td><a asp-controller="Class" asp-action="ViewAllBoxClass" class="btn btn-success">View All</a></td>
                        </tr>

                        <tr>
                            <td class="w-25">
                                <img src="http://www.bjjglobetrotter.com/wp-content/uploads/2011/04/ED3FAC22-857C-45A6-A89F-26D18B5FBA1D49.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                            <td>Wrestling</td>
                            <td>@Model.CountOfWrestlingClass</td>
                            <td><a asp-controller="Class" asp-action="ViewAllWrestlingClass" class="btn btn-success">View All</a></td>
                        </tr>

                        <tr>
                            <td class="w-25">
                                <img src="https://www.24hourfitness.com/images/pages/GX24/athletic_interval/hiit.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                            <td>Athletic</td>
                            <td>@Model.CountOfAthleticClass</td>
                            <td><a asp-controller="Class" asp-action="ViewAllAthleticClass" class="btn btn-success">View All</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>
