@model IEnumerable<ProductListViewModel>

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />



<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Brand: @product.Brand</li>
                        <li class="list-group-item">Type: @product.Type</li>
                        @if (product.IsOnPromotion)
                        {
                            <li class="list-group-item"><strike>Old Price: @String.Format(product.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", product.Price) £ </strike></li>
                            <li class="list-group-item"> New Price: @String.Format(product.PriceOnPromotion % 1 == 0 ? "{0:0}" : "{0:0.00}", product.PriceOnPromotion) £</li>
                        }
                        else
                        {
                            <li class="list-group-item">Price: @String.Format(product.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", product.Price) £</li>
                        }
                        @if (@product.InStock == 0)
                        {
                            <li class="list-group-item">Soon in stock</li>
                        }
                        <li class="list-group-item">In Stock: @product.InStock</li>
                    </ul>

                    <div class="card-body">
                        <a asp-controller="Shop" asp-action="ShowDetails" asp-route-id="@product.Id" class="btn btn-warning">View Details</a>
                    </div>

                    @if (@product.InStock <= 0)
                    {
                        <div class="card-body">
                            <a href="#" class="btn btn-primary" disabled>Add to wishlist</a>
                        </div>

                    }
                    else
                    {
                        <div class="card-body">
                            <a asp-controller="WishList" asp-action="AddToWishList" asp-route-id="@product.Id" class="btn btn-danger">Add to wishlist</a>
                        </div>
                    }

                </div>
            </div>
        }
    </div>
</div>
