@model ProductDetailViewModel

 @{
    ViewData["Title"] = $"{@Model.Name} Details";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<div class="row">

    <div class="col-sm-3">
        <div class="well">
            <img src="@Model.ImageUrl" class="img-circle" height="100" width="100" alt="Avatar">
        </div>
    </div>
    <div class="col-sm-9">
        <div class="well">
            <p>Name: @Model.Name</p>
            <br />
            <p>Type: @Model.Type</p>
            <br />
            <p style="color:green">Brand: @Model.Brand</p>
            <br />
            @if (@Model.IsOnPromotion)
            {
                <div class="font-size-lg text-danger pt-2"><strike>Old Price: @String.Format(@Model.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @Model.Price) £ </strike></div>
                <div class="font-size-lg text-warning pt-2"> New Price: @String.Format(@Model.PriceOnPromotion % 1 == 0 ? "{0:0}" : "{0:0.00}", @Model.PriceOnPromotion) £</div>
            }
            else
            {
                <div class="font-size-lg text-danger pt-2">Price: @String.Format(@Model.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", @Model.Price) £</div>
            }
            <br />
            <p style="color:red">Description: @Model.Description</p>
        </div>
    </div>
</div>





