@model IEnumerable<ProductServiceModel>

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

@{
    ViewData["Title"] = "All Products";
}


    @if (Model.Any())
{
    <div class="container">
        <div class="row">

            @foreach (var currentProduct in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@currentProduct.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">@currentProduct.Name</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: @String.Format(currentProduct.Price % 1 == 0 ? "{0:0}" : "{0:0.00}", currentProduct.Price) £</li>
                    </ul>
                    <div class="card-body">
                        <a asp-controller="Shop" asp-action="DeleteProduct" asp-route-id="@currentProduct.Id" class="btn btn-danger">Delete Product</a>
                        <a asp-controller="Shop" asp-action="EditProduct" asp-route-id="@currentProduct.Id" class="btn btn-warning">Edit Product</a>
                    </div>
                </div>
            }

        </div>
    </div>
}
else
{
    <h1> Don't have products yet , try soon !</h1>
}

